.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.summary {
  width: 30%;
}

@media (max-width: 771px) {
  .productContainer {
    width: 58%;
    padding: 0;
  }

  .summary {
  width: 40%;
}

}